<div class="container">
	<div class="modal fade" id="add-contact-modal-view">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title text-black ">Оставьте заявку</h5>
					<button id="contact-modal-close" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="create-contact-modal-form" method="post" role="form">
						<fieldset>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="firstName" class="col-form-label">Имя</label>
										<input name="firstName" required class="form-control" />
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="lastName" class="col-form-label">Фамилия</label>
										<input name="lastName" required class="form-control" />
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="phone" class="col-form-label">Телефон</label>
										<input name="phone" required class="form-control" />
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="email" class="col-form-label">Email</label>
										<input name="email" required class="form-control" />
									</div>
								</div>
							</div>

							<div class="col lg-12">
								<div class="form-group">
									<label for="message" class="col-form-label">Сообщение</label>
									<textarea name="message" required id="text-editor" rows="5" class="form-control"></textarea>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group">
									<input id="contact-button-submit" type="submit" class="btn btn-custom-primary btn-block" value="Отправить" />
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


