<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Nature</title>
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		  crossorigin="anonymous">
</head>
<body>
	<header>
		<partial name="_NavigationBarPartial" />
	</header>

	<div class="container mb-3">
		<main role="main" class="pb-3 mb-5">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted py-2">
		<div class="container text-center">
			Copyright &copy; 2020 - Nature - <a href="https://github.com/leodeg">Leo Deg</a>
			<a class="btn btn-primary" name="New" asp-controller="ContactUs" asp-action="New">Оставьте заявку</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootbox/bootbox.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
