@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ml-lg-4">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Roles" asp-action="UserList"><i class="fas fa-users-cog"></i> Пользователи</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="ContactUs" asp-action="Index"><i class="fas fa-id-badge"></i> Контакты</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user-circle"></i> Аккаунт</a>
		</li>

		@if (User.IsInRole(Roles.Administrator))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
			</li>
		}
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i> Выйти</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-lock"></i></a>
		</li>
	}
</ul>
