@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="container text-center mt-3 m-auto">
	<h1>Oops...</h1>
	<h1 class="text-danger">Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>

	<img src="~/img/error/oops.png" style="width: 40%;" alt="Oops Image..." />

	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}
</div>