@model DoctorsIndexViewModel

@{
	ViewData["Title"] = "Index";
}


<div class="row">
	<div class="col-sm-9 col-md-9 col-lg-9">
		<div class="row">
			@if (!@Model.Doctors.Any())
			{
				<h3>Пока что нет мастеров такой категории.</h3>
			}
			else
			{

				@foreach (var doctor in Model.Doctors)
				{
					<partial name="DoctorPreviewPartial" model="@doctor" />
				}
			}

			<!-- Pagination -->

		</div>
		<ul class="pagination justify-content-center mb-4">
			@if (Model.PageViewModel.HasPreviousPage)
			{
				<li class="page-item">
					<a asp-controller="Doctors" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">&larr; Назад</a>
				</li>
			}
			@if (Model.PageViewModel.HasNextPage)
			{
				<li class="page-item">
					<a asp-controller="Doctors" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="page-link">Вперед &rarr;</a>
				</li>
			}
		</ul>
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="card my-4">
				<h5 class="card-header">Управление</h5>
				<div class="card-body">
					<div class="input-group">
						<a class="btn btn-primary m-1" name="Index" asp-controller="DoctorCategories" asp-action="Index">Категории</a>
						<a class="btn btn-primary m-1" name="Index" asp-controller="Doctors" asp-action="New">Добавить мастера</a>
					</div>
				</div>
			</div>
		}
		@await Component.InvokeAsync("DoctorsVerticalMenu")

	</div>
</div>
