@model IEnumerable<Service>

@{
	ViewData["Title"] = "Index";
}

<p>
	<a class="btn btn-dark" name="Index" asp-controller="ServiceCategories" asp-action="Index">Manage Categories</a>
	<a class="btn btn-dark" name="Index" asp-controller="Services" asp-action="New">New Service</a>
</p>

<div class="row">
	<div class="col-sm-10 col-md-10 col-lg-10">
		<div class="row">
			@if (!@Model.Any())
			{
				<h3>No services for now.</h3>
			}
			else
			{

				@foreach (var service in Model)
				{
					<partial name="ServicePreviewPartial" model="@service" />
				}
			}
		</div>

	</div>
	<div class="col-sm-2 col-md-2 col-lg-2">
		@await Component.InvokeAsync("ServiceVercticalMenu")
	</div>
</div>
