@model IEnumerable<Service>

@{
	ViewData["Title"] = "Index";
}



<div class="row">
	<div class="col-sm-9 col-md-9 col-lg-9">
		<div class="row">
			@if (!@Model.Any())
			{
				<h3>No services for now.</h3>
			}
			else
			{

				@foreach (var service in Model)
				{
					<partial name="ServicePreviewPartial" model="@service" />
				}
			}
		</div>

	</div>

	<div class="col-sm-3 col-md-3 col-lg-3">
		<div class="card my-4">

			<h5 class="card-header">Manage</h5>
			<div class="card-body">
				<div class="input-group">
					<a class="btn btn-dark m-2" name="Index" asp-controller="ServiceCategories" asp-action="Index">Manage Categories</a>
					<a class="btn btn-dark m-2" name="Index" asp-controller="Services" asp-action="New">New Service</a>
				</div>
			</div>
		</div>
		@await Component.InvokeAsync("ServiceVercticalMenu")
	</div>
</div>
