@model string

@{
    ViewData["Title"] = "Создать роль";
}

<div class="container">

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Roles" asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Новая роль</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Добавить</button>
    </form>
</div>
