@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
	ViewData["Title"] = "Роли";
}

<!-- HEADER -->
<section id="header" class="py-2 bg-primary text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>
					<i class="fas fa-cog"></i> Список ролей
				</h1>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<!-- BODY -->
	<section id="table">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Название роли</th>
					<th>Управление</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var role in Model)
				{
					<tr>
						<td>@role.Name</td>
						<td>
							<form asp-controller="Roles" asp-action="Delete" asp-route-id="@role.Id" method="post">
								@if (role.Name != Roles.Administrator && role.Name != Roles.Editor)
								{
									<button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены, что хотите это удалить?');">
										<i class="fas fa-trash"></i> Удалить
									</button>
								}
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<a href="#" class="btn btn-success" data-toggle="modal" data-target="#addCategoryModal"><i class="fas fa-plus"></i> Добавить роль</a>
		<a class="btn btn-primary" asp-controller="Roles" asp-action="UserList">Список пользователей <i class="fas fa-arrow-right"></i></a>

		<div class="modal fade" id="addCategoryModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-success text-white">
						<h5 class="modal-title">Добавить роль</h5>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form asp-controller="Roles" asp-action="Create" method="post">
							<div class="form-group">
								<label for="name">Новая роль</label>
								<input name="name" class="form-control" required />
							</div>
							<button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Добавить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


