
/*-----------------------------------------------*/
/* ---- HTML---- */
/*-----------------------------------------------*/

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #d9bf77;
	--secondary: #6c757d;
	--success: #007A59;
	--info: #17a2b8;
	--warning: #F18805;
	--danger: #E46A55;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

/*-----------------------------------------------*/
/* ---- STICKY FOOTER AND FONTS ---- */
/*-----------------------------------------------*/

html {
	position: relative;
	min-height: 100%;
	background-color: #fafafa;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background-color: #fafafa;
	padding-bottom: 30px;
	font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, display-3, display-4, .nav-link, .btn {
	font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif !important;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

/*-----------------------------------------------*/
/* ---- NAVBAR ---- */
/*-----------------------------------------------*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.navbar {
	position: static;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.navbar-brand e {
	font-size: larger;
	color: #fff;
	background-color: #d9bf77;
	padding: 0px 10px;
	border-radius: 50%;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/*-----------------------------------------------*/
/* ---- DEFAULT ---- */
/*-----------------------------------------------*/

.news-data {
	font-size: small;
}

#google-map {
	height: 500px;
	width: 100%;
	border: 0;
	box-shadow: 0;
}

/*-----------------------------------------------*/
/* ---- SOCIAL LINKS ---- */
/*-----------------------------------------------*/

.social-link {
	padding: 10px;
	color: #333;
	font-size: large;
}

/*-----------------------------------------------*/
/* ---- OVERRIDE BOOTSTRAP COLORS ---- */
/*-----------------------------------------------*/

.js-delete {
	color: white;
}

.input-validation-error, .error {
	border-color: red;
}

.error {
	color: red;
}

a {
	color: #b79d57;
}

	a:hover {
		color: #a38943;
	}

.card:hover {
	background: #fff;
	-webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.40) !important;
	-moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.40) !important;
	box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.40) !important;
}

.bg-primary {
	background-color: #CEB473 !important;
	border-color: #CEB473;
}

.bg-warning {
	background-color: #F18805 !important;
	border-color: #F18805;
}

.bg-not-read {
	background-color: #dec88f !important;
	border-color: #dec88f;
}

.btn-primary {
	background-color: #CEB473 !important;
	border-color: #CEB473 !important;
	color: #fff;
}

	.btn-primary:hover {
		background-color: #bba05c !important;
		border-color: #bba05c;
		color: #000;
	}

.btn-success {
	background-color: #007A59 !important;
	border-color: #007A59;
	color: #fff;
}

	.btn-success:hover {
		background-color: #00694d !important;
		border-color: #00694d;
		color: #000;
	}

.btn-danger {
	background-color: #E46A55 !important;
	border-color: #E46A55;
	color: #fff;
}

	.btn-danger:hover {
		background-color: #cb503a !important;
		border-color: #cb503a;
		color: #000;
	}

.btn-warning {
	background-color: #F18805 !important;
	border-color: #F18805;
	color: #fff;
}

	.btn-warning:hover {
		background-color: #d87800 !important;
		border-color: #d87800;
		color: #000;
	}


/*-----------------------------------------------*/
/* ---- DROPDOWN MENUS ---- */
/*-----------------------------------------------*/
.dropdown-menu {
	min-width: 12rem;
	width: max-content;
	padding: 1rem;
}

@media (max-width: 992) {
	.dropdown-menu {
		width: auto;
	}
}

.categories-menu-list li:hover {
	background-color: #d9bf77 !important;
}

/*-----------------------------------------------*/
/* ---- BUTTONS ---- */
/*-----------------------------------------------*/

.twitter-share-button {
	color: #fff !important;
	background-color: #1b95e0;
	padding: 4px 10px;
	border-radius: 4px;
	font-size: small;
	text-align: center
}

	.twitter-share-button:hover {
		background-color: #1087d0;
		text-decoration: none;
	}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
	border-radius: 0;
}

.btn {
	cursor: pointer;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 16px;
}

	.btn:hover, .btn:active, .btn:focus {
		outline: none;
	}

	.btn.btn-white {
		border-radius: 0 !important;
		background: #fff;
		border: 1px solid #fff;
		color: #000;
		-webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.40) !important;
		-moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.40) !important;
		box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 0.40) !important;
	}

		.btn.btn-white span {
			color: #000;
		}

		.btn.btn-white:hover {
			border: 1px solid #d9bf77;
			background: #d9bf77;
			color: #fff;
		}

			.btn.btn-white:hover span {
				color: #fff;
			}

		.btn.btn-white.btn-outline-white {
			border-color: rgba(255, 255, 255, 0.8);
			background: none;
			border-width: 1px;
			color: #fff;
		}

			.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
				background: #d9bf77;
				border-color: #d9bf77;
				color: #000;
			}


	.btn.btn-custom-primary {
		border-radius: 0 !important;
		background: #d9bf77 !important;
		border: 1px solid #d9bf77 !important;
		color: #fff;
		padding: 16px 16px 16px 16px !important;
	}

		.btn.btn-custom-primary:hover {
			background: 0 !important;
			border-color: #d9bf77 !important;
			color: #d9bf77;
		}

	.btn.btn-custom-outline-primary {
		background: 0 !important;
		border-color: #d9bf77 !important;
		color: #d9bf77;
		border: 1px solid #d9bf77 !important;
		padding: 16px 16px 16px 16px !important;
	}

		.btn.btn-custom-outline-primary:hover {
			border-radius: 0 !important;
			background: #d9bf77 !important;
			color: #fff;
		}

	.btn.btn-primary-search {
		background: #d9bf77 !important;
		border: 1px solid #d9bf77 !important;
		color: #fff;
		padding: 12px 16px 12px 16px !important;
		left: -10px !important;
	}

		.btn.btn-primary-search:hover {
			background: #fff !important;
			border-color: #d9bf77 !important;
			color: #000;
		}


/*-----------------------------------------------*/
/* ---- HOME PAGE ---- */
/*-----------------------------------------------*/

.big-logo {
	width: 20%;
}

.logo-divider {
	width: 50%;
	border-top: 2px solid rgba(217, 191, 119, 0.5) !important;
}

#home-head-section {
	background: url(/img/design/intro.jpg);
	min-height: 850px;
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	margin-bottom: 6rem;
}

	#home-head-section .dark-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 850px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	#home-head-section .home-inner {
		padding-top: 200px;
	}

	#home-head-section .divider {
		width: 50%;
		border-top: 2px solid rgba(217, 191, 119, 0.5);
	}

	#home-head-section .btn {
		padding: 30px 30px !important;
		font-size: medium;
	}

@media(max-width: 450px) {
	.big-logo {
		width: 50%;
	}

	#home-head-section, #home-head-section .dark-overlay {
		min-height: 675px;
	}

		#home-head-section .home-inner {
			padding-top: 100px;
		}
}

@media(max-width: 360px) {
	#home-head-section,
	#home-head-section .dark-overlay {
		min-height: 600px;
		margin-bottom: 2rem;
	}
}


.home-icon {
	background-color: var(--primary);
	border-radius: 50%;
	padding: 30px;
	color: #fff;
}

/*-----------------------------------------------*/
/* ---- FORM CONTROLS ---- */
/*-----------------------------------------------*/

.form-control {
	border-radius: 0;
	padding: 21.5px;
	color: #000;
}

	.form-control:focus {
		border-color: #d9bf77;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 191, 119, 0.55);
	}


/*-----------------------------------------------*/
/* ---- PAGE WRAP ---- */
/*-----------------------------------------------*/

.hero-wrap {
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

	.hero-wrap .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		content: '';
		background-color: #333;
		opacity: 0.0;
	}


	.hero-wrap.hero-wrap-2 {
		height: 250px;
	}

		.hero-wrap.hero-wrap-2 .slider-text {
			height: 250px !important;
		}

	.hero-wrap .slider-text {
		color: rgba(0, 0, 0, 0.4);
	}

		.hero-wrap .slider-text .icon {
			position: relative;
			z-index: 0;
			margin-bottom: 20px;
			width: 100%;
		}

			.hero-wrap .slider-text .icon span {
				font-size: 80px;
				line-height: 1.2;
				color: #d9bf77;
			}

			.hero-wrap .slider-text .icon:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				max-width: 500px;
				height: 2px;
				background: #d9bf77;
				margin: 0 auto;
			}

		.hero-wrap .slider-text .breadcrumbs {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 1px;
			margin-bottom: 20px;
			z-index: 99;
			font-weight: 400;
			letter-spacing: 4px;
		}

			.hero-wrap .slider-text .breadcrumbs span {
				color: rgba(0, 0, 0, 0.7);
			}

				.hero-wrap .slider-text .breadcrumbs span a {
					color: #000;
				}

		.hero-wrap .slider-text h1 {
			font-size: 40px;
			color: #000;
			font-weight: normal;
			font-family: "Oswald", serif;
			text-transform: uppercase;
			letter-spacing: 15px;
		}

		.hero-wrap .slider-text h2 {
			font-weight: 200;
			font-size: 18px;
		}

		.hero-wrap .slider-text .bread {
			font-size: 50px;
			color: #000;
			line-height: 1.2;
			font-weight: 200;
		}

		.hero-wrap .slider-text .btn-primary, .hero-wrap .slider-text .btn-outline-primary {
			text-transform: uppercase;
		}

		.hero-wrap .slider-text .btn-primary {
			border: 1px solid rgba(255, 255, 255, 0.4);
		}

/*-----------------------------------------------*/
/* ---- IMAGES ---- */
/*-----------------------------------------------*/

.custom-image {
	min-height: 100px;
	min-width: 100px;
	height: auto;
	width: 280px;
}

.nature-img-preview {
	min-height: 100px;
	min-width: 100px;
	height: 300px;
	width: 300px;
	max-width: 300px;
	max-height: 300px;
}

.g-item-news {
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.g-item-news-details {
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.g-item-services {
	width: 250px;
	height: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.g-item-services-details {
	width: 250px;
	height: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.g-item-services:hover {
	background-color: #d9bf77;
	-webkit-box-shadow: 0px 0px 0px 10px rgba(217, 191, 119, 0.7) inset !important;
	-moz-box-shadow: 0px 0px 0px 10px rgba(217, 191, 119, 0.7) inset !important;
	box-shadow: 0px 0px 0px 10px rgba(217, 191, 119, 0.7) inset !important;
	border-color: #d9bf77;
}

@media (min-width: 769px) {
	.g-item-services, .g-item-services-details {
		width: 200px;
		height: 200px;
	}
}

@media (min-width: 1200px) {
	.g-item-services, .g-item-services-details {
		width: 250px;
		height: 250px;
	}
}

.g-item-doctors-details {
	width: 100%;
	height: 350px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (min-width: 450px) {
	.g-item-doctors-details {
		width: 100%;
		height: 600px;
	}
}

@media (min-width: 992px) {
	.g-item-doctors-details {
		width: 100%;
		height: 350px;
	}
}
